<footer id="down" class="SecFooter">
    <div class="Newsletter">
        <br>
        Newsletter
        <label for="email">Por favor, ingrese su e-mail.</label>
        <input type="email" name="email" required placeholder="example@gmail.com">
        <input type="reset" value="Borrar">
        <input type="submit" value="Enviar">
    </div>
    <div class="ComoComprar"><a href="../SECTIONS/ComoComprar.html">Cómo comprar?</a></div>
    <div class="EnviosCambiosDevoluciones"><a href="../SECTIONS/EnviosCambiosDevoluciones.html">Envíos, cambios y devoluciones</a></div>
        <br>
    <nav class="NavFooter">
        <ul>
            <li><a href="../SECTIONS/LibroDeQuejasVirtual.html">Libro de quejas Virtual</a></li>
            <li><a href="../SECTIONS/PoliticasDePrivacidad.html">Políticas de privacidad</a></li>
            <li><a href="../SECTIONS/FormasDePago.html">Formas de Pago</a></li>
            <li><a href="../SECTIONS/E-Gift.html">E-Gift</a></li>
            <li><a href="../SECTIONS/PreguntasFrecuentes.html">Preguntas Frecuentes</a></li>
            <li><a href="../SECTIONS/Legales.html">Legales</a></li>
            <li><a href="../SECTIONS/Arrepentimiento.html">Arrepentimiento</a></li>
            <li><a href="../SECTIONS/Copyright.html">Copyright</a></li>
        </ul>
        <br>
    </nav>
    <a href="#top">Ir arriba</a>
    </footer>
<!--FOOTER SOLO PARA SECTIONS. PARA EL INDEX, HAY QUE MODIFICAR LAS RUTAS DE LINKEOS PARA LAS PAGS-->