<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>D I U N O - Diseños Únicos Exclusivos.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Artículos de diseños exclusivos.">
        <meta name="keywords" content="DISEÑO, ARTESANAL, MANUAL, HANDS MADE, RENOVACIÓN, ÚNICOS, DECORACIÓN, DECO, ILUMINACIÓN, INFANTILES, PEQUEÑOS, ARTE,INDUMENTARIA, VESTIMENTA">
        <link rel="stylesheet" href="./Styles.css">
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/Media/Logo/LogoPage/negro/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../assets/Media/Logo/LogoPage/negro/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../assets/Media/Logo/LogoPage/negro/favicon-16x16.png">
        <link rel="manifest" href="../assets/Media/Logo/LogoPage/negro/site.webmanifest">
    </head>
    <body>
<!--A partir de aquí, copy and paste en maquetación html de sections. Esta es el área de logo y menú que debe estar en todas las páginas-->
        <header id="TOP" class="header">
            <div class= "SelectIdioma">IDIOMA</div>
            <div class="search">
                <input type="search" value="Buscar">
            </div>
<!--reemplazar los siguietes divs en iconos o botones-->
            <div><a href="../SECTIONS/SignUp.html">Sign Up</a></div>
            <div><a href="../SECTIONS/Shop.html">Compras</a></div>
            <div><a href="../SECTIONS/ContactUs.html">Contact Us</a></div>
            <br>
            <div class="logo">
                <a href="../index.html"><img src="../assets/Media/Logo/LogoDesk/DIUNO_ISOLOGO_NEGRO.png" width="30%" class="animate__animated animate__pulse"></a>
                <br>
                <a href="#down">Ir abajo</a>
            </div>
        </header>
        <div class="MenuPrincipal">
            <nav class="menu">
                <ul>
                    <li><a class="menu__link" href="./InDiuno.html">In DIUNO</a></li>
                    <li><a class="menu__link" href="./BileidDiuno.html">Bileid - Lumi DIUNO</a></li>
                    <li><a class="menu__link" href="./PequenoCiro.html">Pequeño Ciro</a></li>
                    <li><a class="menu__link" href="./DecoDiuno.html">Deco DIUNO</a></li>
                </ul>
            </nav>
        </div>
<!-- Fin de copia de área para header, logo y menú. Este es el maquetado que debe estar en todas las html.-->