header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: $spacing-small;
    border-bottom: 2px solid $primary;
    margin-top: 20px;

    .icon__access{
        display: flexbox;
        justify-content: flex-end;
        align-items: flex-end;
        padding: $spacing-small;
        margin-left: 10px;
        margin-bottom: 40px;
    }
    .logo {
        max-width: 100%;
        margin: 50px;
    }
    .MenuPrincipal{
        display: flex;
        gap: $spacing-small;

        & menu__link{
            font-size: $medium;
            padding: $spacing-xsmall;
        }
    }

}

