/* Colores */
$primary: #1B0317;
$secondary: #f20f2d;
$third: #0d823e;
$fourth: #ffae00;
$principal-backgroud:#f2f3f7;
$text-color: black;

/* Fuentes son provisorias para prueba. */
$font-principal: arial;
$font-title: times;
$font-parafraph:courier ; 

/* Espaciados */
$spacing-large: 6rem;
$spacing-medium:2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

/* Tamaños de fuentes */
$large: 5.2rem;
$medium: 2.2rem;
$base: 1.6rem;
$small: 1.4rem;
